# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/

# Django files
*.sqlite3
db.sqlite3
/media
/staticfiles
*.log

# IDEs
.vscode/
.idea/

# Environment config

# .gitignore
*.sqlite3
*.db
*.sql
.env
dump-problem_tracking_db-202507041104.sql 
__pycache__/
