{% extends "core/base.html" %}

{% block content %}
  <h2>{{ problem.title }}</h2>

  <p>
    <strong>Status:</strong> {{ problem.status }} |
    <strong>Priority:</strong> {{ problem.priority }}
    <strong>Department:</strong> {{ problem.department.name}}
  </p>

  <p>
    <strong>Description:</strong><br>
    {{ problem.description }}
  </p>

  <hr>

  <h4>Solutions</h4>
  <ul>
    {% for solution in problem.solution_set.all %}
      <li>
        {{ solution.content }}<br>
        <small>By {{ solution.author.username }} on {{ solution.created_at }}</small>
      </li>
    {% empty %}
      <li>No solutions added.</li>
    {% endfor %}
  </ul>

  <a class="btn btn-secondary mt-3" href="{% url 'problem_list' %}">⬅ Back</a>
{% endblock %}
