{% for problem in problems %}
<tr>
  <td>{{ problem.problem_id }}</td>
  <td><a href="{% url 'problem_detail' problem_id=problem.problem_id %}">{{ problem.title }}</a></td>
  <td>{{ problem.description }}</td>
  <td>{{ problem.module.module_name }}</td>
  <td>{{ problem.status }}</td>
  <td>{{ problem.priority }}</td>
  <td>{{ problem.department.department_name }}</td>
  <td>{{ problem.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
</tr>
{% empty %}
<tr>
  <td colspan="8" class="text-center">No problems found.</td>
</tr>
{% endfor %}