@font-face {
    font-family: 'Phetsarath OT';
    src: url('../fonts/Phetsarath OT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, input, textarea, button, select {
    font-family: 'Phetsarath OT', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Phetsarath OT';
}