@font-face {
  font-family: 'Phetsarath OT';
  src: url('/static/fonts/PhetsarathOT.ttf') format('truetype');
}

@font-face {
  font-family: 'Saysettha OT';
  src: url('/static/fonts/SaysetthaOT.ttf') format('truetype');
}

body {
  font-family: 'Phetsarath OT', 'Saysettha OT', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Phetsarath OT', 'Saysettha OT', sans-serif;
}