@font-face {
  font-family: 'Phetsarath OT';
  src: url('/static/core/fonts/PhetsarathOT.ttf') format('truetype');
}

@font-face {
  font-family: 'Phetsarath OT';
  src: url('/static/core/fonts/Phetsarath.ttf') format('truetype');
}

body {
  font-family: 'Phetsarath OT';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Phetsarath OT';
}